# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: '-*,
    cppcoreguidelines-*,
    hicpp-*,
    modernize-*,
    bugprone-*,
    cert-*,
    misc-*,
    concurrency-*,
    performance-*,
    portability-*,
    readability-*,
    clang-analyzer-*,

    llvm-namespace-comment,
  '
CheckOptions:

WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        'file'
